---
layout: home-page
---

<h1>Collections</h1>

<p>When works all belong to a collection &mdash; whether or not it's a series in a specific order &mdash; they will be listed here.</p>
{% include collections.html %}

<h1>Ratings</h1>

<p>Stories are also organized by rating in order to allow readers to pick those that would fit best for them.</p>
{% include ratings.html %}

<h1>Types</h1>

<p>Stories are sorted by length to allow chosing a work you have the time and energy for.</p>
{% include types.html %}
