@@font-face {
    font-family: "Tom's New Roman";
    src: url('tomnr.woff') format('woff'), url('tomnr.woff2') format('woff2');
}
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic|Spectral&display=swap');

h1, h2 {
    font-family: "Tom's New Roman", sans-serif !important;
    font-weight: bold;
}

h3, h4, h5, h6 {
    font-family: "Spectral" !important;
}
