---
layout: home-page
---

<p>Welcome to makyo.ink, the collected works of Madison Scott-Clary.</p>

<p>{{site.description}}</p>

<p>This site collects several of her completed written works. For drafts, in-progress words, and so on, head over to <a href="http://writing.drab-makyo.com">her blog and writing page</a></p>

<h2>Recent pieces</h2>
<ol class="post-card-box clearfix">
  {% for post in paginator.posts %}
  <li>
    <div class="post-card{% cycle ' light-purple', '', ' light-gray', ' light-pink' %}">
      <a href="{{post.url | prepend: site.baseurl}}" class="post-card-image"{% if post.img %} style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )"{% endif %}>
      </a>

      <div class="post-card-body">
        {% for tag in post.tags %}
        <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">|&#32;{{ tag }}</a>
        {% endfor %}
        <a href="{{post.url | prepend: site.baseurl}}" class="post-card-link"><h3 class="post-card-title">{{post.title}}</h3></a>
      </div>

    </div>
  </li>
  {% endfor %}
</ol>

{% include pagination.html %}

<h2>Collections</h2>
{% include collections.html %}
