.front-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    .hero {
        display: flex;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 1rem;
    }

    .third {
        flex: 1 1 30%;
        padding: 0.5rem;
        min-width: 300px;
    }

    .small {
        flex: 1 1 38%;
        padding: 0.5rem;
        min-width: 300px;
    }

    .large {
        flex: 1 1 61%;
        padding: 0.5rem;
        min-width: 300px;
    }

    .odd {
        background-color: rgba(255, 255, 255, 0.05);
    }
}
