ul.pagination {
    list-style-type: none;
    display: block;
    padding: 0px;
    margin: 1rem 0 1rem calc(-2rem + 10px) !important;
    text-align: center;
    
}

ul.pagination li {
    display: inline-block;
    border: 1px solid $light-gray;
    min-width: 2rem;
    text-align: center;
    margin-right: -5px;
}

ul.pagination li:last-of-type {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

ul.pagination li:first-of-type {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

ul.pagination .page-item.disabled a {
    color: #666;
    border: none;
    cursor: text;
}

ul.pagination .page-item.active a {
    text-decoration: none;
    border: none;
    cursor: text;
}
