ul.pagination {
    list-style-type: none;
    display: block;
    padding: 0px;
    margin: 1rem 0 1rem calc(-2rem + 10px) !important;
    text-align: center;

}

ul.pagination li {
    display: inline-block;
    min-width: 2rem;
    text-align: center;
}

ul.pagination .page-item.disabled a {
    color: #666;
    cursor: text;
}

ul.pagination .page-item.active a {
    text-decoration: none;
    cursor: text;
}
