@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua');

.pink, .quip {
    color: #db7de3;
}

.gray {
    color: #dfdfdf;
}

.quip {
    max-width: 395px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: "Inknut Antiqua", serif !important;
}

.quip {
    font-family: "Inknut Antiqua", serif !important;
}

.page-content {
    background-color: #16161d;
    color: #ffffff;
}

a, h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}
body {
    background-color: #252525;
}
