<div class="donate-box">
    <h4>Help support my writing!</h4>
    <div class="donate">
        <script src="https://liberapay.com/makyo/widgets/button.js"></script>
<noscript><a href="https://liberapay.com/makyo/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a></noscript>
    </div>
    <div class="donate">
        <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy Me a Coffee', '#808080', 'A6633Y29');kofiwidget2.draw();</script>
    </div>
</div>
