<ol class="post-card-box clearfix">
    <li>
        <div class="post-card">
            <a href="{{site.baseurl}}/collections/series/sawtooth" class="post-card-image" style="background-image: url({{site.baseurl}}/assets/img/flag.svg)">
            </a>

            <div class="post-card-body">
                <a href="{{site.baseurl}}/collections/series/sawtooth" class="tag">Collected stories from the Sawtooth, ID furry universe</a>
                <a href="{{site.baseurl}}/collections/series/sawtooth" class="post-card-link"><h3 class="post-card-title">Sawtooth</h3></a>
            </div>
        </div>
    </li>
    <li>
        <div class="post-card">
            <a href="{{site.baseurl}}/collections/series/post-self" class="post-card-image" style="background-image: url({{site.baseurl}}/assets/img/post-self.png)">
            </a>

            <div class="post-card-body">
                <a href="{{site.baseurl}}/collections/series/post-self" class="tag">Collected stories from the far-future, Post-Self universe</a>
                <a href="{{site.baseurl}}/collections/series/post-self" class="post-card-link"><h3 class="post-card-title">Post-Self</h3></a>
            </div>
        </div>
    </li>
    <li>
        <div class="post-card">
            <a href="{{site.baseurl}}/collections/series/rum-and-coke" class="post-card-image" style="background-image: url({{site.baseurl}}/assets/img/rum-and-coke.png)">
            </a>

            <div class="post-card-body">
                <a href="{{site.baseurl}}/collections/series/rum-and-coke" class="tag">Three short stories from a furry convention</a>
                <a href="{{site.baseurl}}/collections/series/rum-and-coke" class="post-card-link"><h3 class="post-card-title">Rum and Coke</h3></a>
            </div>
        </div>
    </li>
</ol>
