<ol class="post-card-box clearfix">
    <li>
        <div class="post-card light-grey">
            <a href="{{site.baseurl}}/collections/types/flash-fiction" class="post-card-image">
            </a>

            <div class="post-card-body">
                <a href="{{site.baseurl}}/collections/types/flash-fiction" class="tag">Stories less than 1,000 words in length</a>
                <a href="{{site.baseurl}}/collections/types/flash-fiction" class="post-card-link"><h3 class="post-card-title">Flash fiction</h3></a>
            </div>
        </div>
    </li>
    <li>
        <div class="post-card light-purple">
            <a href="{{site.baseurl}}/collections/types/vignettes" class="post-card-image">
            </a>

            <div class="post-card-body">
                <a href="{{site.baseurl}}/collections/types/vignettes" class="tag">Stories between 1,000 and 2,000 words in length</a>
                <a href="{{site.baseurl}}/collections/types/vignettes" class="post-card-link"><h3 class="post-card-title">Vignettes</h3></a>
            </div>
        </div>
    </li>
    <li>
        <div class="post-card light-pink">
            <a href="{{site.baseurl}}/collections/types/short-stories" class="post-card-image">
            </a>

            <div class="post-card-body">
                <a href="{{site.baseurl}}/collections/types/short-stories" class="tag">Stories between 2,000 and 20,000 words in length</a>
                <a href="{{site.baseurl}}/collections/types/short-stories" class="post-card-link"><h3 class="post-card-title">Short stories</h3></a>
            </div>
        </div>
    </li>
    <li>
        <div class="post-card light-grey">
            <a href="{{site.baseurl}}/collections/types/poetry" class="post-card-image">
            </a>

            <div class="post-card-body">
                <a href="{{site.baseurl}}/collections/types/poetry" class="tag">Poems of all lengths</a>
                <a href="{{site.baseurl}}/collections/types/poetry" class="post-card-link"><h3 class="post-card-title">Poetry</h3></a>
            </div>
        </div>
    </li>
</ol>
