---
layout: home-page
---

<p><a href="{{site.baseurl}}/collections">&laquo; back to collections</a></p>

<h1>Post-Self</h1>

<p><a href="http://post-self.io" target="_blank">Post-Self</a> is a collaborative fiction project exploring what it means to be post-self, set in a far-future world where the boundary of Self is blurred.</p>
<ol class="post-card-box clearfix">
  {% for post in site.categories['Post-Self'] %}
  <li>
    <div class="post-card{% cycle ' light-purple', '', ' light-gray', ' light-pink' %}">
      <a href="{{post.url | prepend: site.baseurl}}" class="post-card-image"{% if post.img %} style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )"{% endif %}>
      </a>

      <div class="post-card-body">
        {% for tag in post.tags %}
        <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">|&#32;{{ tag }}</a>
        {% endfor %}
        <a href="{{post.url | prepend: site.baseurl}}" class="post-card-link"><h3 class="post-card-title">{{post.title}}</h3></a>
      </div>

    </div>
  </li>
  {% endfor %}
</ol>
