$black: #000;
$white: #fff;
$blue: #2d89ec;
$dark-purple: #311e3e;
$light-purple: lighten($dark-purple, 60%);
$dark-pink: #87314e;
$light-pink: lighten($dark-pink, 40%);
$gray: #efefef;
$light-gray: #999999;
$lighten-gray: #d9d9d9;
$dark-gray: #3e3e43;
$darken-gray: darken($dark-gray, 10%);
