/* Color Theme Swatches in Hex */
$i-lightbrown: #736E58;
$i-darkbrown: #595645;
$i-graytan: #BFB8AA;
$i-lighttan: #F2E4D8;
$i-black: #0D0D0D;

// OLD THEME
$black: #000;
$white: #fff;
$blue: #2d89ec;
$dark-purple: #311e3e;
$light-purple: lighten($dark-purple, 60%);
$dark-pink: #87314e;
$light-pink: lighten($dark-pink, 40%);
$gray: #efefef;
$light-gray: #999999;
$lighten-gray: #d9d9d9;
$dark-gray: #3e3e43;
$darken-gray: darken($dark-gray, 10%);
