<div class="donate-box">
    <h4>Help support my writing!</h4>
    <div class="donate">
        <a href="https://www.patreon.com/bePatron?u=425636" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
    </div>
    <div class="donate">
        <script src="https://liberapay.com/makyo/widgets/button.js"></script>
        <noscript>
            <a href="https://liberapay.com/makyo/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a>
        </noscript>
    </div>
    <div class="donate">
        <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy Me a Coffee', '#808080', 'A6633Y29');kofiwidget2.draw();</script>
    </div>
</div>
