{{ define "main" }}
<div class="content wrapper">
    <div class="carousel">
        <nav>
            <ul>
                <li class="carousel-entry home"><a href="#home">Home</a></li>
                <li class="carousel-entry publications"><a href="#publications">Publications</a></li>
                <li class="carousel-entry projects"><a href="#projects">Projects</a></li>
                <li class="carousel-entry recent"><a href="#recent">Recent posts</a></li>
                <li class="carousel-entry more"><a href="#more">More...</a></li>
            </ul>
        </nav>
        <main>
            <article>
                <section class="carousel-item home">
                    <div class="small">
                        <img alt="Madison Scott-Clary" src="/assets/img/headshot.jpg" />
                    </div>
                    <div class="large">
                        <p>Welcome to the written works of Madison Scott-Clary.</p>

                        <p>Madison is an author of fiction, non-fiction, and poetry living in the Pacific Northwest. Her interests lie in the realms of furry fiction and non-fiction, collaborative fiction, and hypertextual writing. She is a member of the Furry Writers' Guild, and editor for several projects, fiction and non-fiction. This site collects several of her written works.</p>

                        <p>This site comprises mostly completed written works. For drafts, in-progress words, and so on, head over to <a href="http://writing.drab-makyo.com">her blog and writing page</a>.</p>

                        <p>Madison also works as editor-in-chief of <a href="https://hybrid.ink" target="_blank">Hybrid Ink, LLC</a>, an independent publisher of thoughtful writing with a focus on LGBTQIA+ representation.</p>
                    </div>
                </section>
                <section class="carousel-item publications">
                    <h2><a href="/publications">Publications</a></h2>
                    <ol class="post-card-box clearfix">
                        <li>
                            <div class="post-card">
                                <a href="https://ally.id/book?pk_campaign=publications" class="post-card-image" style="background-image: url(/assets/img/publications/ally.png )">
                                </a>
                                <div class="post-card-body">
                                    <a href="https://ally.id/book?pk_campaign=publications" class="post-card-link"><h3 class="post-card-title">ally</h3></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="post-card">
                                <a href="/publications/eigengrau" class="post-card-image" style="background-image: url(/assets/img/publications/eigengrau.png )">
                                </a>
                                <div class="post-card-body">
                                    <a href="/publications/eigengrau" class="post-card-link"><h3 class="post-card-title">Eigengrau</h3></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="post-card">
                                <a href="/publications/restless-town" class="post-card-image" style="background-image: url(/assets/img/publications/restless-town.jpg )">
                                </a>
                                <div class="post-card-body">
                                    <a href="/publications/restless-town" class="post-card-link"><h3 class="post-card-title">Restless Town</h3></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="post-card">
                                <a href="/publications/rum-and-coke" class="post-card-image" style="background-image: url(/assets/img/publications/rum-and-coke.jpg )">
                                </a>
                                <div class="post-card-body">
                                    <a href="/publications/rum-and-coke" class="post-card-link"><h3 class="post-card-title">Rum and Coke - Three Short Stories from a Furry Convention</h3></a>
                                </div>
                            </div>
                        </li>
                    </ol>

                    <h1>Publications edited</h1>
                    <ol class="post-card-box clearfix">
                        <li>
                            <div class="post-card light-gray">
                                <a href="https://hybrid.ink/small-loves" class="post-card-image">
                                </a>
                                <div class="post-card-body">
                                    <a href="https://hybrid.ink/small-loves" class="post-card-link"><h3 class="post-card-title">Small Loves: A Queer Microfiction Anthology</h3></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="post-card light-purple">
                                <a href="https://hybrid.ink/acethetic" class="post-card-image">
                                </a>
                                <div class="post-card-body">
                                    <a href="https://hybrid.ink/acethetic" class="post-card-link"><h3 class="post-card-title">Acethetic</h3></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="post-card light-pink">
                                <a href="https://hybrid.ink/genderful" class="post-card-image">
                                </a>
                                <div class="post-card-body">
                                    <a href="https://hybrid.ink/genderful" class="post-card-link"><h3 class="post-card-title">Genderful</h3></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="post-card light-gray">
                                <a href="https://hybrid.ink/future-tense/gender" class="post-card-image">
                                </a>
                                <div class="post-card-body">
                                    <a href="https://hybrid.ink/future-tense/gender" class="post-card-link"><h3 class="post-card-title">Future//Tense: Gender</h3></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="post-card light-purple">
                                <a href="https://hybrid.ink/future-tense/love" class="post-card-image">
                                </a>
                                <div class="post-card-body">
                                    <a href="https://hybrid.ink/future-tense/love" class="post-card-link"><h3 class="post-card-title">Future//Tense: Love</h3></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="post-card light-pink">
                                <a href="https://hybrid.ink/future-tense/sex" class="post-card-image">
                                </a>
                                <div class="post-card-body">
                                    <a href="https://hybrid.ink/future-tense/sex" class="post-card-link"><h3 class="post-card-title">Future//Tense: Sex</h3></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="post-card">
                                <a href="/publications/arcana" class="post-card-image" style="background-image: url(/assets/img/publications/arcana.jpg )">
                                </a>
                                <div class="post-card-body">
                                    <a href="/publications/arcana" class="post-card-link"><h3 class="post-card-title">Arcana: A Tarot Anthology</h3></a>
                                </div>
                            </div>
                        </li>
                    </ol>

                    <h3>Appearing in</h3>

                    <ul>
                        <li><a href="#">Paw to Print</a> (upcomming) - <em>Tracking an anthology: the steps from start to finish</em> and <em>Layout and design: reducing barriers between story and reader</em></li>
                        <li><a href="#">Hot Dish vol. 3</a> (upcomming) - <em>Disappearance</em></li>
                        <li><a href="http://thurstonhowlpub.storenvy.com/collections/1587098-anthologies/products/22227398-arcana-a-tarot-anthology">Arcana - A Tarot Anthology</a> - <em>The First Step (The Fool)</em></li>
                        <li><a href="http://thurstonhowlpub.storenvy.com/collections/1587098-anthologies/products/21737930-furries-among-us-2-more-essays-on-furries-by-furries">Furries Among Us 2</a> - <em>Gender: Furry</em></li>
                        <li><a href="https://www.weaselpress.com/product-page/civilized-beasts-volume-ii">Civilized Beasts II</a> - <em>The dogs assure me</em></li>
                        <li><a href="https://www.weaselpress.com/shop/knotted-vol-ii">Knotted: A BDSM Anthology, vol II</a> - <em>Centerpiece</em></li>
                    </ul>
                </section>
                <section class="carousel-item projects">
                    <h2>Projects</h2>
                    <div class="large">
                        <p>Along with standalone works and story collections, Madison has worked on several writing projects, often with others</p>
                        <ul>
                            <li><a target="_blank" href="https://ally.id">ally</a> - an ergodic, semiautobiographical project in the form of a conversation</li>
                            <li><a target="_blank" href="https://post-self.io">Post-Self</a> - a collaborative fiction project designed to explore the implications of a universe where the sense of self can be blurred, split, or demolished through replication</li>
                            <li><a target="_blank" href="https://adjectivespecies.com">[adjective][species]</a> and <a target="_blank" href="https://lovesexfur.com">Love ◦ Sex ◦ Fur</a> - [a][s] is a metafurry resource aiming to take a look at the furry world from the inside out; LSF is a sub-project exploring the same in a more adult setting</li>
                        </ul>
                    </div>
                    <div class="small">
                        <a target="_blank" href="https://ally.id"><img alt="ally" src="/assets/img/projects/ally.png" /></a>
                        <a target="_blank" href="https://post-self.io"><img alt="Post-Self" src="/assets/img/projects/post-self.png" /></a>
                        <a target="_blank" href="https://adjectivespecies.com"><img alt="[a][s]" src="/assets/img/projects/adjspecies.png" /></a>
                    </div>
                </section>
                <section class="carousel-item recent">
                    <h2>Recent</h2>
                    <ol class="post-card-box clearfix">
                        {{ range first 6 (where .Site.Pages.ByPublishDate.Reverse ".Params.date" "!=" nil) }}
                        <li>
                            <div class="post-card">
                                <a href="{{ .Permalink }}" class="post-card-image"{{ with .Params.img }} style="background-image: url(/assets/img/{{.}} )"{{ end }}>
                                </a>

                                <div class="post-card-body">
                                    {{ with .Params.tags }}
                                    {{ range . }}
                                    <a href="/tags/{{ . | urlize }}" class="tag">|&#32;{{ . }}</a>
                                    {{ end }}
                                    {{ end }}
                                    <a href="{{ .Permalink }}" class="post-card-link"><h3 class="post-card-title">{{ .Title }}</h3></a>
                                </div>

                            </div>
                        </li>
                        {{ end }}
                    </ol>
                    <p style="text-align: center"><a href="/post"><b>More...</b></a></p>
                </section>
                <section class="carousel-item more">
                    <div class="third">
                        <h2><a href="/categories">Categories</a></h2>
                        <p>Madison has worked on several pieces of various kinds. These are broken down into sensible categories.</p>
                        <ul>
                            <li><a href="/categories/short-story">Short stories</a></li>
                            <li><a href="/categories/poem">Poetry</a></li>
                            <li><a href="/categories/interactive">Interactive fiction</a></li>
                            <li><a href="/categories">More...</a></li>
                        </ul>
                    </div>
                    <div class="third">
                        <h2><a href="/tags">Tags</a></h2>
                        <p>Madison's work covers a variety of topics, organized into tags.</p>
                        <ul>
                            <li><a href="/tags/furry">Furry</a></li>
                            <li><a href="/tags/gender">Gender</a></li>
                            <li><a href="/tags/mental-health">Mental health</a></li>
                            <li><a href="/tags">More...</a></li>
                        </ul>
                    </div>
                    <div class="third">
                        <h2><a href="/series">Series</a></h2>
                        <p>Several of Madison's projects take part in shared universes or in series.</p>
                        <ul>
                            <li><a href="/series/sawtooth">Sawtooth</a></li>
                            <li><a href="/series/post-self">Post-Self</a></li>
                            <li><a href="/series/rum-and-coke">Run and Coke</a></li>
                        </ul>
                    </div>
                </section>
            </article>
        </main>
    </div>
</div>
<script src="/assets/js/carousel.js"></script>
{{ end }}
