@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: "Merriweather Sans", sans-serif !important;
    color: #111111;
}


.page-content, .header-page h1, article {
    background-color: #ffffff;
    color: #111111;
}


.page-content p {
    text-indent: 0;
    margin-bottom: 1rem;
}

blockquote, .page-content strong {
    font-family: "Merriweather Sans", sans-serif !important;
    font-style: italic;
    font-size: 12pt;
    font-weight: normal;
    color: #444444;
    border: none;
}
