---
layout: home-page
---

<p><a href="{{site.baseurl}}/collections">&laquo; back to collections</a></p>

<h1>Sawtooth</h1>

<p>These stories take place in the shared world of Sawtooth, Idaho.</p>
<p>Sawtooth is a town of approximately sixty thousand, and home to University of Idaho Sawtooth. The town is serviced by a prompt and organized public transit system. It is proud to host some of Idaho's largest companies as the tech capitol of the state.</p>
<ol class="post-card-box clearfix">
  {% for post in site.categories.Sawtooth %}
  <li>
    <div class="post-card{% cycle ' light-purple', '', ' light-gray', ' light-pink' %}">
      <a href="{{post.url | prepend: site.baseurl}}" class="post-card-image"{% if post.img %} style="background-image: url( {{ "/assets/img/" | append : post.img}} )"{% endif %}>
      </a>

      <div class="post-card-body">
        {% for tag in post.tags %}
        <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">|&#32;{{ tag }}</a>
        {% endfor %}
        <a href="{{post.url | prepend: site.baseurl}}" class="post-card-link"><h3 class="post-card-title">{{post.title}}</h3></a>
      </div>

    </div>
  </li>
  {% endfor %}
</ol>
