
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
h1, h2, h3, h1.page-title {
    font-family: 'Reggae One';
    text-align: center;
}
table {
    margin: auto;
    max-width: 540px;
}
table td {
    padding: 0.25rem 0.5rem;
}
tr td:nth-child(1) {
    text-align: right;
}
p strong {
    display: block;
    text-align: center;
    text-indent: 0;
}
.buy {
    text-align: center;
    text-indent: 0;
    margin-top: 0.5rem;
}
.buy a {
    font-size: 14pt;
    padding: 0.5rem;
    background-color: #eee;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 1px 1px 4px #222;
    text-decoration: none;
}
